<div class="container-fluid">
    <div class="row">
        <div class="col text-center">
            <span class="fs-3"><a routerLink="/">Home</a></span>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <app-menus (postEmitter)="handlePost($event)" [n]="posts.length"></app-menus>
            </div>
            <div class="col-sm-6 text-center">
                <app-auth-sidebar *ngIf="!!username" (authEvent)="onAuthStateChange($event)"></app-auth-sidebar>
                <app-login *ngIf="!username" (authEvent)="onAuthStateChange($event)"></app-login>
            </div>
        </div>
        <app-post [posts]="posts" [username]="username">
        </app-post>
    </div>
</div>